<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
		 
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="">
			<meta name="author" content="">
 

			<!-- Bootstrap core CSS -->
			<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

			<!-- Custom styles for this template -->
			<link href="css/1-col-portfolio.css" rel="stylesheet">
		</head>
		<div class="container">
  <div class="page-header">
    <h1>Meghana Madhyastha</h1>      
  </div>
</div>
		<body>
                
    
		  
		<!-- Navigation -->
		  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<div class="collapse navbar-collapse" id="navbarResponsive">
				  <ul class="navbar-nav ml-auto">
				    <li class="nav-item active">
				      <a class="nav-link" href="/">Home
					<span class="sr-only">(current)</span>
				      </a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="/about">About</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="/projects">Projects</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="/publications">Publications</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="/cv">CV</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="/blog">Blog</a>
				    </li>
				  </ul>
				</div>
			      </div>
    		    </nav>

			<div class="container">
				{{ content }}
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        		<li><a href="mailto:meghana.madhyastha@gmail.com">email</a></li>
	        		<li><a href="https://github.com/megh1241">github</a></li>
				</ul>
			</footer>
			<!-- Bootstrap core JavaScript -->
			<script src="vendor/jquery/jquery.min.js"></script>
			<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		</body>
	</html>
